@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.navbar{
    background-color: #efe63f !important;
    font-family: 'Ubuntu', sans-serif;
}
.btn-outline-success{
    background-color: grey !important;
    color: yellow !important;
}
.btn-outline-success:hover{
    color: green !important;
}
.h1{
    font-family: 'Secular One', sans-serif;
}