@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.navbar{
    background-color: #efe63f !important;
    font-family: 'Ubuntu', sans-serif;
}
.btn-outline-success{
    background-color: grey !important;
    color: yellow !important;
}
.btn-outline-success:hover{
    color: green !important;
}
#x{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
#y{
    margin-top: 5px;
}
#f{
   margin-bottom: 3px !important;
   margin-top: 1px !important;
}
.k{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
/*#delbtn{
}
#savebtn{
    margin-top: 15px;
    position: relative;
    margin-left: 50px;
}*/
